@model Comic
@{
    ViewData["Title"] = "Edit";
}

@if (Model.ComicId == 0)
{
    <h2>Add Comic</h2>
}
else
{
    <h2>Edit Comic</h2>
}
<p style="color:red;">@ViewBag.FailEdit</p>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <input type="hidden" asp-for="ComicId" />

    <button type="submit" class="btn btn-primary">Confirm</button>
    <a asp-controller="Comic" asp-action="View" asp-route-id="@Model.ComicId" class="btn btn-primary">Cancel</a>
</form>