<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/SprintPointsValidation.js"></script>
</head>
<body>
    <div class="container">
        <header class="bg-primary text-white text-center">
            <h1 class="m-3 p-3">Please continue to register</h1>
            @if (TempData["message"] != null)
            {
                <h4 class="bg-success p-2">
                    @TempData["message"]
                    @TempData["message"]
                </h4>
            }

            
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)"
</body>
</html>